/* ======================================( G E N E R A L )====================================== */

* { box-sizing: border-box; }
body { background: #ebebeb; margin: 0; }
#page { display: flex; flex-direction: column; min-height: 100vh; }
button, input[type="submit"] {
  background: black;
  border: none;
  color: white;
  font-family: 'Roboto', sans-serif;
}
button:hover, input[type="submit"]:hover { cursor: pointer; }
button:disabled, input[type="submit"]:disabled { cursor: default; opacity: 0.25; }

/* ===================================( P R O G R E S S )======================================= */

#progress { flex: 1; display: flex; justify-content: center; align-items: center; }

/* ======================================( H E A D E R )======================================== */

#header {
  flex: 0 1 0%;
  border-bottom: 1px solid #cdcdcd;
  display: flex;
  font-family: 'Roboto', sans-serif;
  justify-content: space-between;
  padding: 6px 10px;
}
#header > h1 { flex: 1; margin: 0; }
#header > h1 > span::after { font-family: 'Tinos', serif; content: "NYTE"; }
#header > .header-form {
  align-items: center;
  display: flex;
  flex: 0 1 250px;
  justify-content: center;
  padding: 4px 0 4px 4px;
}
#header > .header-form > input[type="month"] {
  flex: 1;
  font-family: 'Roboto', sans-serif;
  height: 100%;
  margin-right: 5px;
  padding-right: 5px;
  text-align: center;
}
/* Removes the clear button from date inputs */
#header > .header-form > input[type="month"]::-webkit-clear-button { display: none; }
/* Removes the spin button */
#header > .header-form > input[type="month"]::-webkit-inner-spin-button { display: none; }
#header > .header-form > input[type="submit"] { flex: 0 0 80px; height: 100%; }

/* small devices */
@media (min-width: 576px) {
  #header > .header-form { flex: 0 1 320px; }
}

/* medium devices */
@media (min-width: 768px) {
  #header { width: 720px; margin: 0 auto; }
  #header > h1 > span::after { content: "NY Times Explorer"; }
}

/* large devices */
@media (min-width: 992px) {
  #header { width: 960px; margin: 0 auto; }
}

/* extra large devices */
@media (min-width: 1200px) {
  #header { width: 1140px; margin: 0 auto; }
}

/* =========================================( M A I N )========================================= */

#main {
  flex: 1;
  display: flex;
  flex-direction: column;
}
/* medium devices */
@media (min-width: 768px) {
  #main { width: 720px; margin: 0 auto; }
}
/* large devices */
@media (min-width: 992px) {
  #main { width: 960px; margin: 0 auto;}
}
/* extra large devices */
@media (min-width: 1200px) {
  #main { width: 1140px; margin: 0 auto;}
}

/* =========================( main - TOP )========================== */

#top { display: flex; flex-direction: column; padding: 10px 10px 0 10px; margin-bottom: 15px;}
#top > .top-cell { display: flex; flex: 1; height: 29px; justify-content: space-between; }
#top > .top-cell > input[type="text"] {
  flex: 0 0 246px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500; 
  height: 100%;
  margin-left: 5px;
  order:1;
  padding-left: 20px;
}
/* Styling the search input placeholder */
#top > .top-cell:nth-child(1) > input[type="text"]::-webkit-input-placeholder { color: #c8c8c8; font-size: 14px;}
#top > .top-cell:nth-child(1) > select {
  flex: 0 1 120px;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  padding-left: 10px;
}
#top > .top-cell:nth-child(2) { margin-top: 5px; font-family: 'Roboto', sans-serif; font-size: 14px;}
#top > .top-cell:nth-child(2) > div:nth-child(1) { 
  align-items: center;
  display: flex;
  flex: 0 1 120px;
  justify-content: space-between;
}
#top > .top-cell:nth-child(2) div:nth-child(1) > select {
  flex-basis: 50px;
  height: 100%;
  padding-left: 10px;
}
#top > .top-cell:nth-child(2) div:nth-child(2) {
  align-items: center;
  display: flex;
  flex: 0 0 246px;
  font-style: italic;
  justify-content: center;
  margin-left: 5px;
}
#top > .top-cell:nth-child(2) div:nth-child(2) > span { font-weight: bold; padding: 0 4px; }

/* small devices */
@media (min-width: 576px) {
  #top > .top-cell:nth-child(1) > input[type="text"] { flex: 0 1 316px; }
  #top > .top-cell:nth-child(1) > select { flex: 0 1 150px; }
  #top > .top-cell:nth-child(2) > div:nth-child(1) { flex: 0 1 150px; }
  #top > .top-cell:nth-child(2) > div:nth-child(1) > select { flex-basis: 60px; }
  #top > .top-cell:nth-child(2) > div:nth-child(2) { flex: 0 1 316px; }
}
/* medium devices */
@media (min-width: 768px) {
  #top { flex-direction: row; }
  #top > .top-cell:nth-child(1) { flex: 1; justify-content: flex-start }
  #top > .top-cell:nth-child(2) { flex: 1; justify-content: space-around }
  #top > .top-cell:nth-child(1) > input[type="text"] { margin-right: 5px; flex: 0 1 220px;}
  #top > .top-cell:nth-child(1) > select { flex: 0 1 120px; }
  #top > .top-cell:nth-child(2) { margin-top: 0px; }
  #top > .top-cell:nth-child(2) > div:nth-child(1) { flex: 0 1 120px; justify-content: space-between; }
  #top > .top-cell:nth-child(2) > div:nth-child(1) > select { flex-basis: 50px; }
  #top > .top-cell:nth-child(2) > div:nth-child(2) { flex: 1; }
}
/* large devices */
@media (min-width: 992px) {
  #top > .top-cell:nth-child(1) > select { flex: 0 1 150px; }
}

/* =========================( main - CENTER )======================= */

#center { flex: 1; display: flex; flex-direction: column; margin: 10px; }
/* medium devices */
@media (min-width: 768px) {
  #center {
    flex-direction: row;
  }
}

/* ===========( main - CENTER/GALLERY )========== */

#gallery { display: flex; flex: 1 1 75%; flex-direction: column; }
#gallery > .article { flex: 0 1 0%; }
#gallery > .article > .article-wrapper {
  background: #fcfcfc;
  box-shadow: 0 0 5px rgba(150,150,150,0.5);
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
  height: 100%;
}
#gallery > .article > .article-wrapper > .article-display { flex: 1; }
#gallery > .article > .article-wrapper > .article-display:hover { cursor: pointer; }
#gallery > .article > .article-wrapper > .article-display > img { width: 100%; }
#gallery > .article > .article-wrapper > .article-display > div { padding: 0 10px 10px 10px; }
#gallery > .article > .article-wrapper > .article-display > div > h3 { font-size: 14px; font-weight: 700; margin: 5px 0 0 0; }
#gallery > .article > .article-wrapper > .article-display > div > p {
  color: #555555;
  font-size: 13px;
  font-weight: 300;
  margin: 5px 0 0 0;
}
#gallery > .article > .article-wrapper > .article-links {
  align-items: center;
  border-top: 1px solid #f0f0f0;
  display: flex;
  flex: 0 1 25px;
  font-size: 14px;
  justify-content: space-between;
  padding: 0 10px;
}
#gallery > .article > .article-wrapper > .article-links > a {
  color: #49c5b6;
  font-style: italic;
  text-decoration: none;
}
#gallery > .article > .article-wrapper > .article-details {
  border-top: 1px solid #f0f0f0;
  flex: 0 1 auto;
  padding: 10px;
}
#gallery > .article > .article-wrapper > .article-details > h3 {
  font-size: 14px;
  margin: 0;
}
#gallery > .article > .article-wrapper > .article-details > ul {
  font-size: 13px;
  list-style-type: none;
  margin: 0;
  margin-top: 5px;
  padding: 0;
}
#gallery > .article > .article-wrapper > .article-details > ul > li { display: flex; }
#gallery > .article > .article-wrapper > .article-details > ul > li > span:nth-child(1) {
  color: #49c5b6;
  font-weight: 500;
  flex: 0 0 80px;
}
#gallery > .article > .article-wrapper > .article-details > ul > li > span:nth-child(2) { flex: 1; }
.gutters { margin: -10px 0 0 0; }
.gutters > div { padding: 10px 0 0 0; }

/* medium devices */
@media (min-width: 768px) {
  #gallery {
    align-content: flex-start;
    align-items: stretch;
    flex: 1;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  #gallery > .article { flex: 0 1 50%; max-height: 85%; }
  #gallery > .article > .article-wrapper > .display-state { display: none; }
  .gutters { margin: -10px 10px 0 -10px; }
  .gutters > div { padding: 10px 0 0 10px; }
}
/* large devices */
@media (min-width: 992px) {
  #gallery > .article { flex: 0 1 33.3333%; }
}
/* extra large devices */
@media (min-width: 1200px) {
  #gallery > .article { flex: 0 1 25%; }
}
/* standard desktop devices */
@media (min-height: 650px) {
  #gallery > .article { max-height: 50%; }
} 

/* ===========( main - CENTER/DETAILS )========== */

#details {
  background: #fcfcfc;
  box-shadow: 0 0 5px rgba(150,150,150,0.5);
  flex: 0 1 25%;
  font-family: 'Roboto', sans-serif; 
  overflow: auto;
  padding: 10px;
  text-align: left;
  white-space: wrap;
}

#details > div { font-size: 14px; }
#details > div > h3 { margin: 0; padding: 15px 0; }
.disabled { display: none; }
#details > div > ul { list-style-type: none; margin: 0; padding: 0; }
#details > div > ul > li { padding: 5px 0; }
#details > div > ul > li > span { color: #49c5b6; font-weight: 700; }

/* medium devices */
@media (min-width: 768px) {
  .disabled { display: flex; }
  #details { flex: 0 1 240px; }
}
/* standard desktop devices */
@media (min-height: 650px) {
  #details > div { font-size: 16px; }
} 

/* =========================( main - BOTTOM )======================= */

#bottom {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  padding: 0 10px 10px 10px;
  text-align: center;
}
#bottom button { align-self: center; font-size: 25px; }
#bottom > .bottom-cell { display: flex; flex: 1;  font-family: 'Roboto', sans-serif; font-size: 14px; height: 29px; }
#bottom > .bottom-cell:nth-child(1) { justify-content: space-between; }
#bottom > .bottom-cell:nth-child(1) > div:nth-child(1) {
  align-items: center;
  display: flex;
  flex: 0 1 120px;
  justify-content: space-between;
}
#bottom > .bottom-cell:nth-child(1) > div:nth-child(1) > select {
  flex-basis: 50px;
  height: 100%;
  padding-left: 10px;
}
#bottom > .bottom-cell:nth-child(1) > div:nth-child(2) {
  align-items: center;
  display: flex;
  flex: 0 0 246px;
  font-style: italic;
  justify-content: center;
  margin-left: 5px;
}
#bottom > .bottom-cell:nth-child(1) > div:nth-child(2) > span { font-weight: bold; padding: 0 4px; }
#bottom > .bottom-cell:nth-child(2) { display: flex; justify-content: space-between; margin-top: 5px; }
#bottom > .bottom-cell:nth-child(2) > div:nth-child(1) { display: flex; flex: 0 1 120px; }
#bottom > .bottom-cell:nth-child(2) > div:nth-child(1) > button { flex: 1; }
#bottom > .bottom-cell:nth-child(2) > div:nth-child(1) > button:nth-child(1) { margin-right: 5px; }
#bottom > .bottom-cell:nth-child(2) > div:nth-child(2) {
  align-items: center;
  display: flex;
  flex: 0 1 246px;
  justify-content: center;
}
#bottom > .bottom-cell:nth-child(2) > div:nth-child(2) > input[type="number"] {
  flex: 0 1 80px;
  height: 100%;
  margin-left: 15px;
  padding-left: 10px;
}

/* small devices */
@media (min-width: 576px) {
  #bottom > .bottom-cell:nth-child(1) > div:nth-child(1) { flex: 0 1 150px; }
  #bottom > .bottom-cell:nth-child(1) > div:nth-child(1) > select { flex-basis: 75px; }
  #bottom > .bottom-cell:nth-child(1) > div:nth-child(2) { flex: 0 1 316px; }
  #bottom > .bottom-cell:nth-child(2) > div:nth-child(1) { flex: 0 1 150px; }
  #bottom > .bottom-cell:nth-child(2) > div:nth-child(2) { flex: 0 1 316px; }
}
/* medium devices */
@media (min-width: 768px) {
  #bottom { flex-direction: row; }
  #bottom > .bottom-cell:nth-child(1) > div:nth-child(1) { flex: 0 1 120px; justify-content: space-between; }
  #bottom > .bottom-cell:nth-child(1) > div:nth-child(1) > select { flex: 0 1 50px; }
  #bottom > .bottom-cell:nth-child(1) > div:nth-child(2) { flex: 1; }
  #bottom > .bottom-cell:nth-child(2) { margin-top: 0; order: -1; }
  #bottom > .bottom-cell:nth-child(2) > div:nth-child(2) { margin-left: 5px; margin-right: 5px; }
}

/* ======================================( F O O T E R )======================================== */

#footer {
  border-top: 1px solid #cdcdcd;
  padding: 15px;
  font-family: 'Roboto', sans-serif;
  text-align: center;
}
#footer > p { margin: 0; }
#footer > p > span:nth-child(2) { font-weight: 600; color: #49c5b6; }

/* medium devices */
@media (min-width: 768px) {
  #footer { width: 720px; margin: 0 auto; }
}
/* large devices */
@media (min-width: 992px) {
  #footer { width: 960px; margin: 0 auto; }
}
/* extra large devices */
@media (min-width: 1200px) {
  #footer { width: 1140px; margin: 0 auto; }  
}