/* ======================================( G E N E R A L )====================================== */

* { box-sizing: border-box; }
body { background: #ebebeb; margin: 0; }
#page { display: flex; flex-direction: column; min-height: 100vh; }
button, input[type="submit"] {
  background: black;
  border: none;
  color: white;
  font-family: 'Roboto', sans-serif;
}
button:hover, input[type="submit"]:hover { cursor: pointer; }
button:disabled, input[type="submit"]:disabled { cursor: default; opacity: 0.25; }

/* ======================================( H E A D E R )======================================== */

#header {
  flex: 0 1 0%;
  border-bottom: 1px solid #cdcdcd;
  display: flex;
  font-family: 'Roboto', sans-serif;
  justify-content: space-between;
  padding: 6px 10px;
}
#header > h1 { flex: 1; margin: 0; }
#header > h1 > span::after { font-family: 'Tinos', serif; content: "NYTE"; }
#header > .header-form {
  align-items: center;
  display: flex;
  flex: 0 1 250px;
  justify-content: center;
  padding: 4px 0 4px 4px;
}
#header > .header-form > input[type="month"] {
  flex: 1;
  font-family: 'Roboto', sans-serif;
  height: 100%;
  margin-right: 5px;
  padding-right: 5px;
  text-align: center;
}
/* Removes the clear button from date inputs */
#header > .header-form > input[type="month"]::-webkit-clear-button { display: none; }
/* Removes the spin button */
#header > .header-form > input[type="month"]::-webkit-inner-spin-button { display: none; }
#header > .header-form > input[type="submit"] { flex: 0 0 80px; height: 100%; }

/* small devices */
@media (min-width: 576px) {
  #header > .header-form { flex: 0 1 320px; }
}

/* medium devices */
@media (min-width: 768px) {
  #header { width: 720px; margin: 0 auto; }
  #header > h1 > span::after { content: "NY Times Explorer"; }
}

/* large devices */
@media (min-width: 992px) {
  #header { width: 960px; margin: 0 auto; }
}

/* extra large devices */
@media (min-width: 1200px) {
  #header { width: 1140px; margin: 0 auto; }
}

/* =========================================( M A I N )========================================= */

#main {
  flex: 1;
  display: flex;
  flex-direction: column;
}
/* medium devices */
@media (min-width: 768px) {
  #main { width: 720px; margin: 0 auto; }
}
/* large devices */
@media (min-width: 992px) {
  #main { width: 960px; margin: 0 auto;}
}
/* extra large devices */
@media (min-width: 1200px) {
  #main { width: 1140px; margin: 0 auto;}
}

/* =========================( main - TOP )========================== */

#top {
  flex: 0 1 0%;
  background: lightcoral;
}
#main {
  flex: 1;
  display: flex;
  flex-direction: column;
}
/* medium devices */
@media (min-width: 768px) {
  #footer { width: 720px; margin: 0 auto; }
}
/* large devices */
@media (min-width: 992px) {
  #footer { width: 960px; margin: 0 auto;}
}
/* extra large devices */
@media (min-width: 1200px) {
  #footer { width: 1140px; margin: 0 auto;}
}

/* =========================( main - CENTER )======================= */

#center {
  flex: 1;
  display: flex;
  flex-direction: column;
  background: red;
}
@media (min-width: 768px) {
  #center {
    flex-direction: row;
  }
}

/* ===========( main - CENTER/GALLERY )========== */

#gallery {
  background: paleturquoise;
  flex: 1;
}
@media (min-width: 768px) {
  #gallery {
    flex: 1 1 75%;
  }
}

/* ===========( main - CENTER/DETAILS )========== */

#details {
  background: palevioletred;
  flex: 1;
}
.disabled {
  display: none;
}
@media (min-width: 768px) {
  .disabled {
    display: flex;
  }
  #details {
    flex: 0 1 240px;
  }
}

/* =========================( main - BOTTOM )======================= */

#bottom {
  flex: 0 1 0%;
  background: lightcoral;
}

/* ======================================( F O O T E R )======================================== */

#footer {
  border-top: 1px solid #cdcdcd;
  padding: 15px;
  font-family: 'Roboto', sans-serif;
  text-align: center;
}
#footer > p { margin: 0; }
#footer > p > span:nth-child(2) { font-weight: 600; color: #49c5b6; }

/* medium devices */
@media (min-width: 768px) {
  #footer { width: 720px; margin: 0 auto; }
}
/* large devices */
@media (min-width: 992px) {
  #footer { width: 960px; margin: 0 auto; }
}
/* extra large devices */
@media (min-width: 1200px) {
  #footer { width: 1140px; margin: 0 auto; }  
}